{% extends "templates/base.jinja2" %}
{% block content %}
    <div class="postform-container" ng-init="init('{{ board }}', '{{ posts_source }}')">
        <form ng-submit="doPost()">
            <table>
                <tr>
                    <td><span class="formlabel">Name</span></td>
                    <td><input class="textinput" type="text" name="author" ng-model="draft.author"></td>
                </tr>
                <tr>
                    <td><span class="formlabel">Email</span></td>
                    <td><input class="textinput" type="text" name="email" ng-model="draft.email"></td>
                </tr>
                <tr>
                    <td><span class="formlabel">Password</span></td>
                    <td><input class="textinput" type="password" name="password" ng-model="draft.password"></td>
                </tr>
                <tr>
                    <td><span class="formlabel">Comment</span></td>
                    <td><textarea class="textinput" name="comment" ng-model="draft.comment"></textarea></td>
                </tr>
                <tr>
                    <td><span class="formlabel">Image</span></td>
                    <td>
                        <label for="upload-input">
                            <div id="custom-upload" ng-bind="draft.file.name"></div>
                        </label>
                        <input id="upload-input" type="file" name="img" onchange="angular.element(this).scope().setFiles(this.files)">
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"></td>
                    <td><span class="formlabel">No shitposting pls</span></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="thread" ng-repeat="thread in posts.threads" id="t{{ '{{ thread._id }}' }}">
        <div class="post-container op-container" id="p{{ '{{ thread._id }}' }}">
            <div class="post op">
                <span ng-if="showHideExpand">
                    <img alt="H" class="ext-button thread-hide-button"
                         src="/static/site-img/minus.png"
                         title="Hide thread">
                </span>
                <div class="file">
                    <div class="file-desc">
                        File:
                        <a ng-href="/static/img/{{ '{{ thread.image }}' }}">{{ '{{ thread.original }}' }}</a>
                        ({{ '{{ util.formatFileInfo(thread.info) }}' }})
                    </div>
                    <a class="thumbnail" target="_blank" ng-if="!thread.expandImage" ng-click="thread.expandImage = true"
                       ng-mouseenter="thread.hoverPreview = true" ng-mouseleave="thread.hoverPreview = false">
                        <img ng-src="/static/img/{{ '{{ thread.thumbnail }}' }}">
                    </a>
                    <a class="thumbnail" target="_blank" ng-if="thread.expandImage" ng-click="thread.expandImage = false">
                        <img ng-src="/static/img/{{ '{{ thread.image }}' }}">
                    </a>
                    <!-- span class="hover-preview" ng-if="thread.hoverPreview && !thread.expandImage">
                        <img ng-src="/static/img/{{ '{{ thread.image }}' }}">
                    </span -->
                </div>
                <div class="post-head">
                    <input name="{{ '{{ thread._id }}' }}" value="delete" type="checkbox">
                    <span class="subject"></span>
                    <span class="name-block">
                        <span class="name">{{ '{{ thread.author }}' }}</span>
                    </span>
                    <span class="timestamp">{{ '{{ util.translateTimestamp(thread.timestamp) }}' }}</span>
                    <span class="post-id">
                        ID: <span class="post-id-num">{{ '{{ thread._id }}' }}</span>&nbsp;
                        <span class="post-id-reply">
                            <a ng-href="/{{ '{{ thread.board }}' }}/{{ '{{ thread._id }}' }}/">[Reply]</a>
                        </span>
                    </span>
                </div>
                <blockquote class="post-body">{{ '{{ thread.comment }}' }}</blockquote>
            </div>
            <span class="summary" ng-if="showHideExpand">
                <img alt="+" class="ext-button expand-thread" title="Expand thread" src="/static/site-img/plus.png">
                X replies and Y images omitted.
                <a ng-href="/{{ '{{ thread.board }}' }}/{{ '{{ thread._id }}' }}/">View thread.</a>
            </span>
            <div ng-repeat="reply in posts.replies[thread._id]" class="post-container reply-container">
                <div class="arrows">&gt;&gt;</div>
                <div class="post reply">
                    <div id="{{ '{{ reply._id }}' }}" class="post-head">
                        <input name="{{ '{{ reply._id }}' }}" value="delete" type="checkbox">
                        <span class="name-block">
                            <span class="name">{{ '{{ reply.author }}' }}</span>
                        </span>
                        <span class="timestamp">{{ '{{ util.translateTimestamp(reply.timestamp) }}' }}</span>
                        <span class="post-id">
                            ID: <span class="post-id-num">{{ '{{ reply._id }}' }}</span>&nbsp;
                            <span class="post-id-reply">
                                <a ng-href="/{{ '{{ reply.board }}' }}/{{ '{{ reply._id }}' }}/">[Reply]</a>
                            </span>
                        </span>
                    </div>
                    <div class="file" ng-if="reply.image">
                        <div class="file-desc">
                            File:
                            <a ng-href="/static/img/{{ '{{ reply.image }}' }}">{{ '{{ reply.original }}' }}</a>
                            ({{ '{{ util.formatFileInfo(reply.info) }}' }})
                        </div>
                        <a class="thumbnail" target="_blank" ng-if="!reply.expandImage" ng-click="reply.expandImage = true"
                           ng-mouseenter="reply.hoverPreview = true" ng-mouseleave="reply.hoverPreview = false">
                            <img ng-src="/static/img/{{ '{{ reply.thumbnail }}' }}">
                        </a>
                        <a class="thumbnail" target="_blank" ng-if="reply.expandImage" ng-click="reply.expandImage = false">
                            <img ng-src="/static/img/{{ '{{ reply.image }}' }}">
                        </a>
                        <!-- span class="hover-preview" ng-if="reply.hoverPreview && !reply.expandImage">
                            <img ng-src="/static/img/{{ '{{ reply.image }}' }}">
                        </span -->
                    </div>
                    <blockquote class="post-body">{{ '{{ reply.comment }}' }}</blockquote>
                </div>
            </div>
        </div>
        <hr />
    </div>
{% endblock %}