{% extends "templates/base.jinja2" %}
{% block content %}
<form action="/{{ board }}/" method="POST">
    Name: <input type="text" name="author">
    Password: <input type="text" name="password">
    Comment: <input type="text" name="comment">
    Image: <input type="file" name="file">
    <input type="submit" value="Submit">
</form>
<p>Recent post: {{ postid }}</p>
{% endblock %}