body {
    background: #303030;
    color: #909090;
    font-size: 10pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.postform-container {
    border-bottom: solid #505050 1px;
}

.postform-container form {
    width: 300px;
    margin: auto;
}

.postform-container table {
    width: 100%;
}

.postform-container .textinput {
    width: 100%;
    background: #303030;
    border: solid #505050 1px;
    box-sizing: border-box;
}

.postform-container .formlabel {
    font-family: sans-serif;
    color: #909090;
}

.postform-container #upload-input {
    display: none;
}

.postform-container #custom-upload {
    color: #909090;
    border: solid #505050 1px;
    width: 100%;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #a0d3ff
}

hr {
    clear: both;
    border: none;
}

.thread {
    border-bottom: 1px #505050 solid;
    margin-bottom: 8px;
}

.op-container {
    display: inline;
}

.post {
    margin: 4px 0px;
    overflow: hidden;
}

.op {
    display: inline;
}

.ext-button {
    cursor: pointer;
    margin-bottom: -4px;
    width: 18px;
    height: 18px;
}

.thread-hide-button {
    float: left;
    margin-right: 5px;
    margin-top: -1px;
}

.file {
    display: block;
    position: relative;
}

.thumbnail {
    float: left;
    margin: 3px 20px 5px;
}

.hover-preview {
    position: absolute;
    left: 280px;
    top: -20px;
    z-index: 200;
}

.post-head {
    width: auto;
    display: inline;
}

.name-block {
    display: inline-block;
}

.name {
    color: cornflowerblue;
    font-weight: bold;
}

.post-body {
    display: block;
}

.summary {
    margin-top: 10px;
}

.expand-thread {
    margin-right: 3px;
    margin-left: 2px;
}

.arrows {
    float: left;
    margin-right: 2px;
    margin-top: 0px;
    margin-left: 2px;
}

.reply {
    background: #505050;
    border-bottom: 1px solid #202020;
    display: table;
    padding: 2px;
}